<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css'%}">
    <title>SiniBeli</title>
</head>
<body>
    <div class="header"> 
        <div id="header-info">
            <h5> Name: </h5>
            <h5>{{nama}}</h5>
        </div>
        <div id="header-info">
            <h5> NPM: </h5>
            <h5>{{npm}}</h5>
        </div>
        <div id="header-info">
            <h5>Class: </h5>
            <h5>{{kelas}}</h5>
        </div>
    </div>
    <div class="intro">
        <div class="app-info">
            <h1>{{app_intro}}</h1>
        </div>
    </div>
    <div class="product-container">
        <h2>Product</h2>
        <div class="container-box">
            <div class="box">
                <img class="product-pic" src="{% static 'img/iphone2.jpeg' %}"> 
                <p style="text-align: center;"> {{product_name1}} </p>
                <p> Price : Rp{{price1}}.00 </p>
                <p> Description : {{description1}}</p>
            </div>
            <div class="box">
                <img class="product-pic" src= "{% static 'img/asus2.png' %}"> 
                <p style="text-align: center;"> {{product_name2}} </p>
                <p> Price : Rp{{price2}}.00 </p>
                <p> Description : {{description2}}</p>
            </div>
            <div class="box">
                <img class="product-pic" src= "{% static 'img/headphone.webp' %}" > 
                <p style="text-align: center;"> {{product_name3}} </p>
                <p> Price : Rp{{price3}}.00 </p>
                <p> Description : {{description3}}</p>
            </div>
        </div>
    </div>
</body>
</html>