{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>SiniBeli</title>
{% endblock meta %}
{% block content %}
{% include 'navbar.html' %}
<div class="overflow-x-hidden min-h-screen bg-gray-800 flex flex-col">
    <div class="text-center bg-gradient-to-r from-yellow-100 via-emerald-300 to-blue-100 pt-16 shadow-lg">
        <h1 class="text-6xl font-bold text-black pb-16">{{app_intro}}!</h1>
    </div>
    <div class="px-3 md:px-8 pb-8 pt-16">
        <div class="flex justify-end mb-6">
            <a href="{% url 'main:create_product' %}"
                class="bg-lime-600 hover:bg-lime-700 text-white font-bold py-2 px-4 rounded-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105">
                Add New Product
            </a>
        </div>

        {% if not products %}
        <div class="flex flex-col items-center justify-center min-h-[24rem] p-6">
            <img src="{% static 'images/Sad-Emoji-21.png' %}" alt="Sad face" class="w-32 h-32 mb-4" />
            <p class="text-center text-gray-300 mt-4">Belum ada data product disini.</p>
        </div>
        {% else %}
        <div class="flex flex-col md:flex-row flex-wrap items-center justify-center gap-6 w-full">
            {% for product in products %}
                {% include 'card_product.html' with product=product %}
            {% endfor %}
        </div>
        
        {% endif %}
        <div class="px-4 mb-2">
            <div class="flex rounded-md items-center bg-lime-600 my-4 py-2 px-5 w-fit mx-auto">
                <h1 class="text-white text-center">Last Login: {{last_login}}</h1>
            </div>
        </div>
        <p class="text-center text-gray-300 mt-4">Muhammad Radhiya Arshq {{npm}} {{kelas}} </p>
    </div>
</div>
{% endblock content %}